body {
    margin: 0;
}
#top_buttons {
    margin-top: 1%;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
#file_choser {
    width: 300px;
}
#canvas_container {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 0px;
}
#main_canvas {
    width: 1024px;
    height: 1024px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 0px;
}
#color_picker {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
#subtitles_color {
    background-color: rgba(255, 255, 255, 255);
    color: rgba(0, 0, 0, 255);
    padding-left: 5px;
    padding-right: 5px;
}
#bottom_buttons {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
#results_div {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
#results_div_header {
    margin-bottom: 5px;
}
#result {
    width: 1024px; 
    height: 450px; 
    resize: none;
}
#results_status {
    color: #00ff00;
    padding-left: 5px;
    padding-right: 5px;
}
#test_canvas {
    visibility: hidden; 
    height: 0px; 
    width: 0px;
}